@page
@model MusicDays.Pages.Musics.ArianaModel
@{
}
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #wrap {
            width: 100%;
            margin: 15px;
            background: #fff;
            border-radius: 2px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
        }

            #wrap:hover {
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.50);
            }

        /*#button, #button2 {
            background-color: #04AA6D;
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            position: absolute;
            top: 10%;
        }*/  

        img {
            width: 100px;
            height: 100px;
        }

        p {
            font-size: 30px;
            bottom: 10px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }

        h2 {
            font-size: 60px;
            position: absolute;
            left: 50%;
            right: 60%;
            color: white;
        }
    </style>
</head>
<body>
    <h2>Top 10 Songs of Ariana Grande</h2>
    <img style=" display: block; margin-left: auto; margin-right: auto; width: 500px; height:500px;" src="~/images/ariana-profile.png" />
    <div class="container">
        <div class="row" style=" width: 100%; margin: 15px; background: #fff; border-radius: 2px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <p>Title</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="wrap">
            <div class="col-sm">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a0/Ariana_Grande_-_Positions.png/220px-Ariana_Grande_-_Positions.png" />
                <i id="button" class="fa fa-play" style="position:absolute;right:5px;left:50px;top:35px;font-size:24px;color:aliceblue;"></i>
                <audio id="player">
                    <source src="/images/positions.mp3" type='audio/mpeg' />
                </audio>
            </div>
            <div class="col-sm">
                <p>Positions</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="wrap">
            <div class="col-sm">
                <img src="https://pbs.twimg.com/media/ECI_w8pWkAEhN92.jpg" />
                <i id="button2" class="fa fa-play" style="position:absolute;right:5px;left:50px;top:35px;font-size:24px;color:aliceblue;"></i>

                <audio id="player2">
                    <source src="/images/Ariana Grande - borderline (Audio) ft. Missy Elliott.mp3" type='audio/mpeg' />
                </audio>
            </div>
            <div class="col-sm">
                <p>BorderLine</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="wrap">
            <div class="col-sm">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a0/Ariana_Grande_-_Positions.png/220px-Ariana_Grande_-_Positions.png" />
                <i id="button3" class="fa fa-play" style="position:absolute;right:5px;left:50px;top:35px;font-size:24px;color:aliceblue;"></i>

                <audio id="player3">
                    <source src="/images/obvious.mp3" type='audio/mpeg' />
                </audio>
            </div>
            <div class="col-sm">
                <p>Obvious</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="wrap">
            <div class="col-sm">
                <img src="https://pbs.twimg.com/media/ECI_w8pWkAEhN92.jpg" />
                <i id="button4" class="fa fa-play" style="position:absolute;right:5px;left:50px;top:35px;font-size:24px;color:aliceblue;"></i>

                <audio id="player4">
                    <source src="/images/Ariana Grande - everytime (Audio).mp3" type='audio/mpeg' />
                </audio>
            </div>
            <div class="col-sm">
                <p>Everytime</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="wrap">
            <div class="col-sm">
                <img src="https://image.joox.com/JOOXcover/0/a26dab03fc68bb3e/300" />
                <i id="button5" class="fa fa-play" style="position:absolute;right:5px;left:50px;top:35px;font-size:24px;color:aliceblue;"></i>

                <audio id="player5">
                    <source src="/images/Bad Decisions.mp3" type='audio/mpeg' />
                </audio>
            </div>
            <div class="col-sm">
                <p>Bad Decision</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="wrap">
            <div class="col-sm">
                <img src="https://image.joox.com/JOOXcover/0/a26dab03fc68bb3e/300" />
                <i id="button6" class="fa fa-play" style="position:absolute;right:5px;left:50px;top:35px;font-size:24px;color:aliceblue;"></i>
                <audio id="player6">
                    <source src="/images/SometimesAriana Grande Lyrics.mp3" type='audio/mpeg' />
                </audio>
            </div>
            <div class="col-sm">
                <p>Sometimes</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="wrap">
            <div class="col-sm">
                <img src="https://i.ytimg.com/vi/m7XHduHsBvk/maxresdefault.jpg" />
                <i id="button7" class="fa fa-play" style="position:absolute;right:5px;left:50px;top:35px;font-size:24px;color:aliceblue;"></i>
                <audio id="player7">
                    <source src="/images/Ariana Grande - bad idea (Audio).mp3" type='audio/mpeg' />
                </audio>
            </div>
            <div class="col-sm">
                <p>Bad Idea</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="wrap">
            <div class="col-sm">
                <img src="https://m.media-amazon.com/images/I/61ry6-EhFTL._SS500_.jpg" />
                <i id="button8" class="fa fa-play" style="position:absolute;right:5px;left:50px;top:35px;font-size:24px;color:aliceblue;"></i>
                <audio id="player8">
                    <source src="/images/Ariana Grande - One Last Time (Lyrics) I need to be the one who takes you home.mp3" type='audio/mpeg' />
                </audio>
            </div>
            <div class="col-sm">
                <p>One Last Time</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="wrap">
            <div class="col-sm">
                <img src="https://m.media-amazon.com/images/I/61gkJ76UizL.jpg" />
                <i id="button9" class="fa fa-play" style="position:absolute;right:5px;left:50px;top:35px;font-size:24px;color:aliceblue;"></i>
                <audio id="player9">
                    <source src="/images/Daydreamin'.mp3" type='audio/mpeg' />
                </audio>
            </div>
            <div class="col-sm">
                <p>DayDreamin'</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="wrap">
            <div class="col-sm">
                <img src="https://m.media-amazon.com/images/I/61gkJ76UizL.jpg" />
                <i id="button10" class="fa fa-play" style="position:absolute;right:5px;left:50px;top:35px;font-size:24px;color:aliceblue;"></i>
                <audio id="player10">
                    <source src="/images/Honeymoon Avenue.mp3" type='audio/mpeg' />
                </audio>
            </div>
            <div class="col-sm">
                <p>HoneyMoon Avenue</p>
            </div>
        </div>
    </div>
    <script>
        var button = document.getElementById("button");
        var audio = document.getElementById("player");
        var button2 = document.getElementById("button2");
        var audio2 = document.getElementById("player2");
        var button3 = document.getElementById("button3");
        var audio3 = document.getElementById("player3");
        var button4 = document.getElementById("button4");
        var audio4 = document.getElementById("player4");
        var button5 = document.getElementById("button5");
        var audio5 = document.getElementById("player5");
        var button6 = document.getElementById("button6");
        var audio6 = document.getElementById("player6");
        var button7 = document.getElementById("button7");
        var audio7 = document.getElementById("player7");
        var button8 = document.getElementById("button8");
        var audio8 = document.getElementById("player8");
        var button9 = document.getElementById("button9");
        var audio9 = document.getElementById("player9");
        var button10 = document.getElementById("button10");
        var audio10 = document.getElementById("player10");
        button.addEventListener("click", function () {
            if (audio.paused) {
                audio.play();
                button.classList.remove('fa-play');
                button.classList.add('fa-pause');
            }
            else {
                audio.pause();
                button.classList.remove('fa-pause');
                button.classList.add('fa-play');
            }
        });

        button2.addEventListener("click", function () {
            if (audio2.paused) {
                audio2.play();
                button2.classList.remove('fa-play');
                button2.classList.add('fa-pause');
            } else {
                audio2.pause();
                button2.classList.remove('fa-pause');
                button2.classList.add('fa-play');
            }
        });

        button3.addEventListener("click", function () {
            if (audio3.paused) {
                audio3.play();
                button3.classList.remove('fa-play');
                button3.classList.add('fa-pause');
            } else {
                audio3.pause();
                button3.classList.remove('fa-pause');
                button3.classList.add('fa-play');
            }
        });

        button4.addEventListener("click", function () {
            if (audio4.paused) {
                audio4.play();
                button4.classList.remove('fa-play');
                button4.classList.add('fa-pause');
            } else {
                audio4.pause();
                button4.classList.remove('fa-pause');
                button4.classList.add('fa-play');
            }
        });

        button5.addEventListener("click", function () {
            if (audio5.paused) {
                audio5.play();
                button5.classList.remove('fa-play');
                button5.classList.add('fa-pause');
            } else {
                audio5.pause();
                button5.classList.remove('fa-pause');
                button5.classList.add('fa-play');
            }
        });

        button6.addEventListener("click", function () {
            if (audio6.paused) {
                audio6.play();
                button6.classList.remove('fa-play');
                button6.classList.add('fa-pause');
            } else {
                audio6.pause();
                button6.classList.remove('fa-pause');
                button6.classList.add('fa-play');
            }
        });


        button7.addEventListener("click", function () {
            if (audio7.paused) {
                audio7.play();
                button7.classList.remove('fa-play');
                button7.classList.add('fa-pause');
            } else {
                audio7.pause();
                button7.classList.remove('fa-pause');
                button7.classList.add('fa-play');
            }
        });

        button8.addEventListener("click", function () {
            if (audio8.paused) {
                audio8.play();
                button8.classList.remove('fa-play');
                button8.classList.add('fa-pause');
            } else {
                audio8.pause();
                button8.classList.remove('fa-pause');
                button8.classList.add('fa-play');
            }
        });

        button9.addEventListener("click", function () {
            if (audio9.paused) {
                audio9.play();
                button9.classList.remove('fa-play');
                button9.classList.add('fa-pause');
            } else {
                audio9.pause();
                button9.classList.remove('fa-pause');
                button9.classList.add('fa-play');
            }
        });

        button10.addEventListener("click", function () {
            if (audio10.paused) {
                audio10.play();
                button10.classList.remove('fa-play');
                button10.classList.add('fa-pause');
            } else {
                audio10.pause();
                button10.classList.remove('fa-pause');
                button10.classList.add('fa-play');
            }
        });
        // Get all <audio> elements.
        const audios = document.querySelectorAll('audio');

        // Pause all <audio> elements except for the one that started playing.
        function pauseOtherAudios({ target }) {
            for (const audio of audios) {
                if (audio !== target) {
                    audio.pause();
                    audio.classList.remove('fa-pause');
                    audio.classList.add('fa-play');
                }
            }
        }

        // Listen for the 'play' event on all the <audio> elements.
        for (const audio of audios) {
            audio.addEventListener('play', pauseOtherAudios);
        }
    </script>
</body>
</html>
