@page
@model IndexModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", sans-serif;
            color:white;
        }
        body {
            background-image: url(https://media-cldnry.s-nbcnews.com/image/upload/newscms/2019_01/1524024/justin-bieber-documentary-today-main-191231.jpg);
        }
        body, html {
            height: 100%;
            line-height: 1.8;
        }
        h3{
    
            margin-right: 3000px;
        }
        p{
            margin-right:650px;
            text-align:center;
            font-size:600px;
        }
        .w3-bar .w3-button {
            padding: 1000px;
            
        }
        #Title {
            font-size:100px; 
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    </style>
</head>
<body>
    <!-- About Section -->
    <div class="w3-container" style="padding:128px 16px" id="about">
        <h3 id="Title" class="w3-center">MusicDays Clothings </h3>
        <p class="w3-large w3-center">The Continuation of Drew's Clothing Line ♡ <br /><br /><button onclick="window.location.href='/Clothings/Shop'" class="btn btn-primary text-uppercase">Button</button></p>
    </div>
</body>
</html>

