@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We value the privacy of customer so your personal data given to MusicDays will be kept private.</p>
